<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div class="container"><!-- rodapé -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9367221885863834"
     data-ad-slot="3442362901"
     data-ad-format="auto"></ins></div>

<!-- #footer -->
<footer id="footer">
	<div class="container">
        <p>Copyright &copy; 2010-2015 by DevIsland - All Rights Reserved.</p> <!-- site copyright -->
    </div>
</footer>
<!-- #footer end -->
