
<!-- #header -->
<header id="header">
  <!-- .header-content -->
  <section class="header-content">
    <div class="container">
      <div class="logo">
        <a href="http://devisland.com"><img src="/images/logo.png" alt="Logo" /></a> <!-- site logo -->
      </div>
      <p>O DevIsland é uma comunidade de desenvolvimento plural cujo o objetivo era unir todos de todas as tecnologias.<br>Amadurecemos e queremos mais, boas novas vem por ai.</p>
      <ul class="social">
        <li><a href="http://facebook.com/DevIsland" title="Facebook"><i class="icon-facebook"></i></a></li>
        <li><a href="http://twitter.com/DevIsland" title="Twitter"><i class="icon-twitter"></i></a></li>
        <li><a href="http://github.com/DevIsland" title="Github"><i class="icon-github"></i></a></li>
        <li><a href="http://youtube.com/DevIsland" title="YouTube"><i class="icon-youtube"></i></a></li>
        <li><a href="https://plus.google.com/+DevIsland/" title="Google Plus"><i class="icon-google-plus"></i></a></li>
      </ul>
    </div>
  </section>
  <!-- .header-content end -->
  <!-- .nav-menu-main -->
  <nav class="nav-menu-main">
    <div class="container">
      <ul>
        <li><a href="http://devday.devisland.com">DEVDAY 2015</a></li>
        <li><a href="http://devday.devisland.com/2014">DEVDAY 2014</a></li>
        <li><a href="http://devday.devisland.com/2013">DEVDAY 2013</a></li>
      </ul>
    </div>
  </nav>
   <!-- .nav-menu-main end -->
</header>
<!-- #header end -->
<!-- .sub-header -->
<div class="sub-header">
  <div class="container">
    <p class="breadcrumb">Desenvolver software não é só um processo que converte elétrons e impulsos magnéticos em formas, figuras e sons. Não! Nós estamos aqui para fazer alguma diferença no universo. Senão, por que estaríamos aqui? Estamos criando uma nova consciência, como artistas e poetas. Estamos reescrevendo a história do pensamento humano.</p>
  </div>
</div>
<!-- .sub-header end -->
