<header id="header" class="navigation-bar-header light hidden-xs">
  <div class="container">
    <nav class="navigation">
      <div class="navigation-txt visible-xs" data-toggle="dropdown">Home</div>
      <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="navigation-bar navigation-bar-left">
        <li><a href="{{ site.baseurl }}"><img class="hidden-xs" style="width:80px" src="/assets/img/DevIsland_logo.png" alt="DevIsland"/></a></li>
        {% for page in site.pages %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
        <li class="featured"><a href="http://even.tc/devday-2014" target="_blank"><i class="fa fa-ticket fa-1x"></i>Inscreva-se no DEVDAY</a></li>
      </ul>
    </nav>
  </div>
</header>
