<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
{% include head.html %}
<body>
  {% include header.html %}
  <div class="container">
    <div class="row">
      {{ content }}
      <section id="sidebar" class="span4">
        {% include categories.html %}
      </section>
    </div>
  </div>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
