<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta name="keywords" content="devisland, devday, devday2015, software developer, code, coding, programing" />
  <meta name="thumbnail" content="http://devisland.com/images/posts/{{ page.image }}" />
  <link rel="image_src" href="http://devisland.com/images/posts/{{ page.image }}" />
  {% include head.html %}
</head>
<body>
  {% include header.html %}

  <!-- .container -->
  <div class="container">
    <div class="row">

      <!-- #post -->
      <section id="post" class="span8">

        <!-- .post -->
        <div class="post post-gallery single">

          <figure class="post-thumbnail">
            <div class="flexslider loading">
              <ul class="slides">
                <li><img src="/images/posts/{{ page.image }}" alt="{{ page.title }}" /></li>
              </ul>
            </div>
            <div class="post-thumbnail-overlay">
              <div class="post-icon">
                <span class="post-icon-arrow"></span>
                <i class="icon-file-text-alt"></i>
              </div>
              <h2 class="title"><span>{{ page.title }}</span></h2>
            </div>
          </figure>

          <!-- .post-content -->
          <div class="post-content">

            <ul class="social">
              <li class="tab-facebook"><a href="https://www.facebook.com/dialog/feed?app_id=120990311245031&display=popup&caption={{ page.title }}&link={{ site.url }}{{ page.url }}&picture={{ site.url }}/images/posts/{{ page.image }}&redirect_uri={{ site.url }}{{ page.url }}" title="Facebook"><i class="icon-facebook"></i></a></li>
              <li class="tab-twitter"><a onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                target="_blank" href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=DevIsland&hashtags=DEVDAY2015" target="_blank" title="Twitter"><i class="icon-twitter"></i></a></li>
                <li class="tab-google-plus"><a onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                  target="_blank" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Google Plus"><i class="icon-google-plus"></i></a></li>
                </ul>

                <div class="post-content-text">
                  <!--
                  <p class="post-meta">By <a href="author.html" title="Posts by admin">admin</a> on 02 November 2013 in <a href="archives.html" title="View all posts in Lifestyle">Lifestyle</a>&nbsp; | &nbsp;<a href="#comments" title="Comments for New Washington Farmhouse Design">8 comments</a></p>
                -->
                {{ content }}
              </div>

              <!-- .post-content-bottom -->
              <div class="post-content-bottom">
                {% if page.tags.size > 0 %}
                <!-- .post-tags
                <div class="post-tags">
                {% for tag in page.tags %}
                <a href="/tag/{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                {% endfor %}
              </div>
              <!-- .post-tags end -->
              {% endif %}

              <div class="sep-border margin-top40"></div>

              <!-- .post-author
              <div class="post-author">
              <h4 class="title">About The Author</h4>
              <div class="post-author-content">
              <figure><img src="/images/contents/avatars/1.jpg" alt="Avatar" /></figure>
              <div class="post-author-text">
              <h5>Mugiwara Kiwolen</h5>
              <p>Chuck corned beef capicola tenderloin turkey rump beef ribs spare ribs kielbasa frankfurter hamburger  round round strip steak. Beef ribs shank meatball boudin ribeye.</p>
            </div>
          </div>
        </div>
        <!-- .post-author end -->

        <!-- .post-nav
        <div class="sep-border margin-top20"></div>
        <div class="post-nav">
        <a href="single_post.html" class="post-nav-prev">&laquo;&nbsp;&nbsp; Apple Released The Mac Pro 2013</a>
        <a href="single_post.html" class="post-nav-next">Microsoft Windows 8.1 Blue Released &nbsp;&nbsp;&raquo;</a>
      </div>
      <div class="sep-border margin-bottom20"></div>
      <!-- .post-nav end -->

      <!-- .post-related-posts -->
      <div class="post-related-posts">
        <h4 class="title">Posts relacionados</h4>
          <div class="row-fluid">
          {% for post in site.related_posts limit:2 %}
          <div class="item span6">
            <a href="{{ post.url }}" title="Permanent link to For {{ post.title }}">
              <div class="item-wrap">
                <img src="/images/posts/{{ post.image }}" alt="Thumbnail" />
                <div class="post-thumbnail-overlay">
                  <h4>{{ post.title }}</h4>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- .post-related-posts end -->
    </div>
    <!-- .post-content-bottom end -->
  </div>
  <!-- .post-content end -->
  <div id="comments" class="post-comment">
    <div class="fb-comments" data-href="http://devisland.com{{ page.url }}" data-numposts="5"></div>
  </div>
</div>
<!-- .post end -->

</section>
<!-- #post end -->
{% include sidebar.html %}
</div>
</div>

{% include footer.html %}
{% include scripts.html %}
</body>
</html>
